#video-summary-sessions {
    // https://www.ionos.es/digitalguide/paginas-web/creacion-de-paginas-web/css-grid-layout/
    // https://elad.medium.com/becoming-a-css-grid-ninja-f4c6db018cc1
    @include desktop {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 3rem;
        grid-auto-flow: column;
        // #sessionVideoContainer {
        //     grid-row-start: 1;
        //     grid-row-end: 2;
        //     grid-column-start: 1;
        //     grid-column-end: 2;
        // }
        #sessionDetails {
            grid-row-start: 1;
            grid-row-end: 5;
            grid-column-start: 2;
            // grid-column-end: 3;
        }
        // #sessionPaperList {
        //     grid-row-start: 2;
        //     grid-row-end: 3;
        //     grid-column-start: 1;
        //     grid-column-end: 2;
        // }
        // #virtualPlatformAd {
        //     grid-row-start: 3;
        //     grid-row-end: 4;
        //     grid-column-start: 1;
        //     grid-column-end: 2;
        // }
    }
    #sessionDetails {
        background: transparent;
        .label {
            font-weight: $weight-bold;
            display: inline;
            font-size: inherit;
        }
        p:not(:last-child) { margin-bottom: .5em; }
        @include touch {
            border-top: 2px solid $grey-lighter;
            border-bottom: 2px solid $grey-lighter;
            background-color: color.scale($grey-lighter, $lightness: 90%);
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }
    #videoPlayer iframe {
        max-width: 100%;
    }
    #guestVideo {
        background: url("/event/guest-video-background.jpg");
        > div {
            width: 100%;
            // padding-bottom: 28.125%;
            // padding-top: 28.125%;
            padding: 4rem 2rem;
            p {
                // text-align: center;
                font-size: 22px;
            }
        }
    }
    #guestVideoAccessForm {
        margin-top: 1rem;
        // text-align: center;
    }
    #prevVideo {
        .is-overlay {
            color: $color-congreso;
            //background: rgba($color-congreso2, .5);;
        }
    }
}
