section.is-relatedContent{
    a {
        @extend %link-no-format;
        .paperTitle {
            @extend %link-decorate-hover;
            max-width: 25em;
        }
        img {
            border: 1px solid $grey-lighter;
        }
    }
    .paper {
        padding: 0;
    }
}
