.section.is-header {
    .subtitle { text-transform: uppercase; }
    > .container {
        border-left: 2rem solid black;
        padding-left: 1rem;
        border-bottom: 2px solid black;
        padding-bottom: .5rem;
        @include mobile {
            border-left-width: .5rem;
            border-bottom-width: 1px;
            padding-left: .5rem;
        }
        @include tablet-only {
            border-left-width: 1rem;
            padding-left: .5rem;
        }
    }
}
