#button-televoto {
    // display: none;
    @extend %font-size-16;
    &:not(:hover) {
        text-decoration: none;
    }
}

.smcx-embed {
    max-width: 100%;
    >.smcx-iframe-container {
        max-width: 100%;
    }
}

#modal-televoto {
    .modal-content {
        height: 100%;
        overflow: hidden;
        .smcx-embed {
            height: 100%;
            .smcx-iframe-container {
                height: 100%;
            }
        }
    }
}
