/* Icono menú hamburguesa */
.navbar .navbar-burger {
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    span {
        &:nth-child(2) {
            transform-origin: left center;
        }
    }
    &.is-active {
        span {
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            &:nth-child(1) {
                transform: translate(0px,5px) rotate(-45deg);
                opacity: 1;
            }
            &:nth-child(2) {
                width: 0%;
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translate(0px,-5px) rotate(45deg);
                opacity: 1;
            }
        }
    }
}

/* Menú asociado a la hamburguesa */
// .navbar .navbar-menu {
//     opacity: 0;
//     transform-origin: left top;
//     transition: all 1s ease-in-out;
//     transform: translate(0px,-100%);
//     z-index: -1;
//     &.is-active {
//         z-index: 999;
//         opacity: 1;
//         transition: all 1s ease-in-out;
//         transform: translate(0px,0px);
//     }
// }

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
