// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
body {
    @extend %font-size-18;
}
.min-safe-h-screen {
    min-height: 100vh;
}
html.is-ios-safari {
    .min-safe-h-screen {
        @include mobile {
            min-height: -webkit-fill-available;
        }
    }
}
.links-list {
    &.is-horizontal {
        display: flex;
        flex-wrap: wrap;
        &.has-separator {
            > *:not(:last-child) {
                &:after {
                    margin: 0 .5rem;
                    content: "|";
                }
            }
        }
        &.is-spaced-between {
            justify-content: space-between;
        }
    }
}
.button {
    border-radius: 0;
    &.is-plain {
        padding: 0;
        border: 0;
        background: transparent;
        letter-spacing: 0;
        &:not(:hover) {
            color: $text;
        }
        &:hover {
            text-decoration: underline;
        }
        &:focus:not(:active), &.is-focused:not(:active) {
            box-shadow: none;
        }
    }
    &.is-primary {
        background: $color-congreso;
        text-transform: uppercase;
        letter-spacing: 0;
        &:hover {
            background: $color-congreso2;
        }
        &.is-outline {
            background: transparent;
            border: 1px solid $color-clicables;
            color: $color-clicables;
            &:hover {
                background: $color-clicables;
                color: white;
            }
            &:focus {
                background-color: $color-focus;
                color: white;
            }
        }
    }
    &.is-secondary {
        background: $color-congreso2;
        text-transform: uppercase;
        letter-spacing: 0;
        color: white;
        &:hover {
            background: transparent;
            border: 1px solid $color-congreso2;
            color: $color-congreso2;
        }
        &.is-outline {
            background: transparent;
            border: 1px solid $color-congreso2;
            color: $color-congreso2;
            &:hover {
                background: $color-congreso2;
                color: white;
            }
        }
    }
}
.field {
    &.is-horizontal.is-start {
        .field-label {
            text-align: left;
            flex: none;
            display: flex;
            align-items: baseline;
        }
    }
}
a {
    &.is-text-link {
        color: $text;
        &:hover {
            text-decoration: underline;
            color: #363636;
        }
        &.is-selected {
            color: #363636;
        }
    }
    &.is-primary-link {
        color: $color-congreso;
    }
    &.is-secondarycolor-link {
        color: $color-congreso2;
        polyline {
            stroke: $color-congreso2;
        }
    }
}
.highlight {
    display: inline;
    background: $color-destacados;
    color: #fff;
    padding: 2px;
    word-wrap: break-word;
}
.highlight-shadow {
    position: relative;
    left: $highlight-gap;
    padding-left: 0;
    box-shadow: $highlight-gap 0 0 $color-destacados, -$highlight-gap 0 0 $color-destacados;
}
.position-relative { position: relative!important; }
.position-absolute { position: absolute!important; }
.start-0 { left: 0!important; }
.top-0 { top: 0!important; }
.object-fit-cover { object-fit: cover; }
.w-100 { width: 100%!important; }
.h-100 { height: 100%!important; }
.ml-auto { margin-left: auto!important; }

strong {
    // color: $color-titulos;
    color: inherit;
}
a { color: $color-clicables; }

/* colors */
.is-color-plataforma { color: $color-plataforma!important; }
.is-color-titulos { color: $color-titulos!important; }
.is-color-congreso2 { color: $color-congreso2!important; }
.has-background-color-plataforma { background-color: $color-plataforma!important; }
.has-background-color-congreso2 { background-color: $color-congreso2!important; }
