// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: /*url("../../fonts/Open_Sans/OpenSans-Regular.woff2") format('woff2'),
         url("../../fonts/Open_Sans/OpenSans-Regular.woff") format('woff'),*/
         url("../../fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: /*url('../../fonts/Open_Sans/OpenSans-Bold.woff2') format('woff2'),
         url('../../fonts/Open_Sans/OpenSans-Bold.woff') format('woff'),*/
         url("../../fonts/Open_Sans/OpenSans-Bold.ttf") format('truetype');
}

// @font-face {
//     font-family: "Open Sans";
//     font-style: normal;
//     font-weight: 900;
//     src: url("../../fonts/Lato/Lato-Black.ttf");
// }
