// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.has-icon-prev {
    svg:first-child {
        margin-right: .5rem;
    }
}

.has-background-black-semi { background: rgba(0,0,0,.3); }
.has-background-black-semi-2 { background: rgba(0,0,0,.5); }
.has-border-bottom-1 { border-bottom: 1px solid $grey-light; }
.has-border-0 { border: 0!important; }
.has-text-text { color: $text; }
.has-color-congreso { color: $color-congreso; }
.has-color-sec2 {
    color: $color-congreso2!important;
    // &.is-link { color: $color-congreso2; text-decoration: underline; }
}
.has-color-white { color: white!important; }

.is-transparent { opacity: 0; }

.letter-spacing-0 { letter-spacing: 0!important; }

.pointer-events-none { pointer-events: none!important; }

.hide-portrait {
  @media (orientation: portrait) { display: none; }
}
.hide-landscape {
  @media (orientation: landscape) { display: none; }
}

// // fadeIn effect
// .visible {
//   visibility: visible;
//   opacity: 1;
//   transition: opacity 1s linear;
// }
//
// // fadeOut effect
// .hidden {
//   visibility: hidden;
//   opacity: 0;
//   transition: visibility 0s 1s, opacity 1s linear;
// }
