/**
 * Basic typography style for copy text
 */

.title { @extend %font-size-30; }
.subtitle { @extend %font-size-18; }

$font-sizes: 48, 30, 24, 18, 16, 14;

@each $size in $font-sizes {
    .has-text-#{$size} { @extend %font-size-#{$size}; }
    .has-text-#{$size}-mobile {
        @include mobile {
            font-size: #{$size}px!important
        }
    }
    .has-text-#{$size}-all { font-size: #{$size}px!important }
}

.has-text-weight-black { font-weight: $weight-black; }
