.page-add-to-homescreen, #addToHomescreenModal {
    .ico-apple, .ico-android {
        height: .9em;
        width: auto;
        margin-right: .5rem;
        path {
            fill: $color-congreso2;
        }
    }
}
#addToHomescreenModal {
    h2 { color: white; }
    .ico-apple, .ico-android {
        path { fill: white; }
    }
}
