body.page-inicio-webapp {
    background: url('../../event/inicio-fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;

    @include mobile {
        background: url('../../event/inicio-fondo-mobile.jpg');
        background-position: 80% 100%;
        background-size: cover;
        min-height: 100vh!important;
    }

    &.page-info {
        background: url('../../event/info-fondo.jpg');
        @include mobile {
            background: url('../../event/info-fondo-mobile.jpg');
            background-size: cover;
        }
    }

    #wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        max-width: 100%;
        @include mobile {
            justify-content: flex-start;
        }
    }
    .ilu-cadros {
        max-width: 20rem;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        @include mobile {
            max-width: 40%;
        }
    }
    #logos {
        /* para la barra de navegación no esconda elementos */
        position: relative;
        top: 58.5px;
        /**/
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .logo-congreso {
            position: relative;
            z-index: 3;
            margin-top: 1.5rem;
            width: 25rem;
            height: auto;
            max-width: 50%;
            @include mobile {
                // width: 40rem;
                // height: auto;
                // max-width: 100%;
            }
        }
        .logo-sociedad {
            width: 22rem;
            height: auto;
            max-width: 80%;
            margin-left: auto;
        }
        .logo-patrocinador {
            width: 378px;
            position: fixed;
            bottom: calc($footer-alto - .5rem);
            right: 1rem;
            z-index: 2;
            @include until-widescreen {
                width: 300px;
            }
            @include mobile {
                right: unset;
                left: 1rem;
                width: 200px;
            }
        }
        @include mobile {
            padding: 0px 0rem 0.5rem;
        }
    }
    #gridMenu {
        display: grid;
        gap: 1.5rem;
        padding: 4.5rem 1.5rem;
        gap: .75rem;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 1.5rem;
        .navbar-item {
            width: 100%;
            background-color: $color-botonera;
            // background-color: white;
            // border: 2px solid $color-clicables;
            // color: $color-clicables;
            color: white;
            font-weight: $weight-bold;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            // padding: .25rem .75rem;
            font-size: 15px;
            // box-shadow: 6px 6px 5px 0px rgba(133,133,133,1);
            padding: 1rem;
            justify-content: center;
            text-align: center;
            .icon {
                display: none;
                width: 1rem;
                margin-right: .5rem;
            }
            &:hover {
                .navbar-item-text { text-decoration: underline; }
            }
            &.hideOnStart { display: none; }
            @media (max-width: 375px) {
                padding: .5rem;
            }
        }
        @include mobile {
            .navbar-item {
                letter-spacing: -0.5px;
                font-size: 12px;
            }
        }
        @include tablet {
            padding: 3rem;
            font-size: 18px;
            .navbar-item {
                padding: 1rem 2rem;
                .icon {
                    width: 2rem;
                    margin-right: 1rem;
                }
            }
        }
        @include tablet {
            width: 66.66%;
        }
    }
    // .navbar { display: none; }
    .btnAddHome {
        position: absolute;
        z-index: 23;
        right: 0;
        bottom: calc($footer-alto + 1rem);
        //background: #ffffffc9;
        background: $color-azul;
        padding: 0.5rem 1rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        .leyenda {
            text-transform: uppercase;
            color: white;
            max-width: 4rem;
            font-size: 10px;
            line-height: 1.2;
        }
        svg g {
            fill: white;
        }
    }
    #loginBtnInicio {
        display: none!important;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9998;
        border-bottom-left-radius: 100%;
        padding-left: 1em;
        padding-bottom: 1em;
        background-color: $color-botonera;
        height: 3.25rem;
        width: 3.25rem;
        svg {
            width: 1rem;  height: auto;
        }
        @include mobile {
            padding-left: 0.5rem;
            padding-bottom: 0.5rem;
            height: 2rem;
            width: 2rem;
            svg {
                width: .75rem;
                height: auto;
            }
        }
    }
    @media (max-width: 600px) and (max-height: 700px) {
        #logos .logo-congreso {
            // width: auto;
            // height: 8rem;
        }
    }
    @media (max-width: 375px) {
        .logo-patrocinador {
            max-width: 160px;
        }
    }
}
