$login-event-image-height: 300px;
$login-event-image-height-desktop: 250px;
$login-event-image-height-tablet: 200px;
$login-event-image-height-mobile: 150px;

.page-virtual.is-login {
    background: white;
    .navbar {
        position: sticky;
    }
    .navbar:not(.is-tbdark) {
        background: white;
        .logos svg.logo-congreso {
            path, rect {
                // fill: $color-congreso;
            }
        }
    }
    #welcome-section {
        background: url('../../event/login-fondo.jpg');
        background-size: cover;
        background-position: center right;
        // margin-top: 1rem;
        // box-shadow: 0px 1px 5px 0px rgba(102, 102, 102, 0.4);
        @include until-widescreen {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
        }
        @include widescreen {
            height: $login-event-image-height;
            > .container, .container > div { height: 100%; }
        }
        h1 { color: $color-titulos; }
    }
    #login-section > .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 3rem;
        @include mobile {
            grid-template-columns: 1fr;
            #login-description { grid-row-start: 1; grid-row-end: 2; margin-bottom: 2rem; }
            #login-form { grid-row-start: 2; grid-row-end: 3; }
        }
    }
    p + p {
        margin-top: 1rem;
    }
    form {
        input.input {
            @extend %font-size-18;
            border-radius: 0;
        }
    }
}
