.page-notebook {
    .title {
        display: flex;
        align-items: center;
        .ico-notas { margin-right: 1rem; height: 3rem; }
    }
    .ico-back-link { opacity: 1; pointer-events: all; }
}
