.page-program {
    @import "program/title";
    @import "program/action-bar";
    @import "program/sessions";
    > article { position: relative; }
    // .ico-back-link, .navbar-burger { opacity: 0; pointer-events: none; }
    &.is-agenda {
        .title {
            display: flex;
            align-items: center;
            svg { margin-right: 1rem; }
        }
        .ico-back-link { opacity: 1; pointer-events: all;; }
        .section-sessions {
            @include mobile {
                padding-top: 1.5rem;
            }
        }
    }

    #dropdownFilter, #contenedorCerrarFiltro {
        @media (min-width: 768px) {
            display: none!important;
        }
    }

    // Zoom
    .skeduler-main {
        transition: transform 0.3s ease;
    }
    /* Contenedor de los botones */
    .zoom-controls {
        display: flex;
        position: fixed;
        bottom: 3rem;
        right: 3rem;
        z-index: 9990;
        border: 1px solid $color-plataforma;
        gap: 1px;
        background-color: $color-plataforma;
        flex-direction: column;
        .zoom-button {
            width: 2rem;
            height: 2rem;
            background-color: #fff;
            // border-radius: 50%;
            color: $color-plataforma;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            svg {
                width: auto;
                height: 1rem;
                path { fill: $color-plataforma; }
            }
            &:hover {
                background-color: $color-plataforma;
                color: #fff;
                svg {
                    path { fill: #fff; }
                }
            }
        }
        @media (max-width: 600px) {
            gap: 5px;
        }
        @media (max-width: 768px) {
            right: 1rem;
        }
        @include mobile { display: none; }
    }
    // necesario para que funcione el position: fixed bien siempre en cualquier tamaño de zoom que se haya escogido
    // overflow: hidden;
    // Fin zoom
}
