@use "sass:color";
$papers-space: 1.5rem;

.page-session {
    .paper {
        padding: $papers-space 0;
        &:first-child {
            @include desktop {
                padding-top: 0;
            }
        }
        .paperTitle {
            color: $color-congreso;
            font-weight: $weight-black;
            a {
                color: $color-congreso;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .paperHours {
            @extend %font-size-14;
            display: block;
            color: $text;
        }
        .links-list {
            @extend %font-size-14;
        }
        .authors {
            @extend %font-size-16;
            margin-top: .5em;
            .initials {
                display: inline-flex;
                background: $grey-light;
                border-radius: 100%;
                color: white;
                padding: .25em;
                width: 2rem;
                height: 2rem;
                margin-right: .25rem;
                align-items: center;
                justify-content: center;
            }
        }
        &:not(:last-child) {
            border-bottom: 1px solid $grey-lighter;
        }
        .conflictos {
            @extend %font-size-14;
            .conflictosTitulo {
                margin-top: .5rem;
                font-weight: bold;
                cursor: pointer;
                display: inline-block;
                .aspa {
                    width: auto;
                    max-height: 1rem;
                }
            }
            .conflictosListado {
                > li {
                    // padding-left: 1rem;
                    &::before {
                        content: '—';
                        display: inline-block;
                        margin-right: .5em;
                    }
                }
            }
        }
    }
    .organization {
        @extend %font-size-16 ;
        font-weight: $weight-normal;
        font-style: italic;
        display: block;
        margin-top: .5em;
    }
    .ask-link {
        margin-top: .5em;
        display: block;
    }
    &.is-congreso-virtual {
        .paper {
            &:first-child {
                padding-top: 1.5rem;
            }
        }
    }
    .title {
        .is-live {
            @extend %is-live;
            margin-left: .5rem;
        }
    }
    .docs {
        margin-top: .75rem;
        a { text-decoration: none!important; }
        svg {
            height: 30px;
            width: auto;
        }
    }
    .ico-notas {
        path, rect {
            fill: $color-clicables;
        }
    }
    .ico-notas-selected {
        path, rect {
            fill: $color-clicables;
        }
    }
    .ico-agendada {
        path {
            fill: $color-clicables;
        }
    }
    @import "session/section-header";
    @import "session/section-video-and-summary";
    @import "session/section-paper-list";
    @import "session/section-related-content";
    @import "session/modal-ask";
    @import "session/survey";
    @import "session/televoto";
}
