$speakers-list-vgap: 1rem;
$speakers-column-gap: 3rem;

.page-speakers-index {
    .pagination {
        margin: 0 0 0 0;
        font-size: $size-7;
        .pagination-list {
            justify-content: flex-start;
            flex-grow: 1;
            .pagination-previous, .pagination-next, .pagination-link {
                @extend %font-size-16;
                border: none;
                @include touch { min-width: 2em; }
            }
            li { flex-grow: 0!important; }
            .pagination-link {
                border-radius: 0;
                &.is-selected {
                    color: white;
                    background: $grey;
                    font-weight: $weight-bold;
                }
            }
        }
    }
    .paginated-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: $speakers-column-gap;
        border-top: 2px solid $grey;
        @include until-widescreen {
            grid-template-columns: 1fr 1fr;
        }
        @include mobile {
            grid-template-columns: 100%;
        }
    }
    .speaker {
        @extend %font-size-16;
        @extend %link-no-format;
        padding-bottom: $speakers-list-vgap;
        border-bottom: 1px solid;
        padding-top: $speakers-list-vgap;
        display: flex;
        align-items: center;
        img {
            max-width: 70px;
            height: auto;
            align-self: center;
            margin-right: .5rem
        }
    }
    .section.speaker-list {
        @include touch {
            padding: 1.5rem;
        }
    }
    #searchBtn {
        background-color: $color-clicables;
        svg path { fill: white; }
        &:hover {
            background-color: white;
            color: $color-clicables;
            svg path { fill: $color-clicables; }
        }
        &:focus {
            background-color: $color-focus;
        }
    }
}

.page-speakers-view {
    .speakerInfo {
        display: flex;
        align-items: center;
        margin-bottom: .25rem;
        img {
            margin-right: .5rem;
            max-width: 150px;
        }
        @media (max-width: 500px) {
            display: block;
        }
    }
}


