//https://sass-guidelin.es/es/
//https://github.com/HugoGiraudel/sass-boilerplate/blob/master/stylesheets/abstracts/_variables.scss

@charset "UTF-8";

@import "vendor/bulma";

// 1. Configuration and helpers
@import "abstracts/variables";
// @import "abstracts/functions";
// @import "abstracts/mixins";
@import "abstracts/placeholders";

// 2. Vendors
@import "vendor/jquery.skeduler";

// 3. Base
@import "base/base";
@import "base/fonts";
@import "base/typography";
@import "base/helpers";
@import "base/animations";

// 4. Layout-related sections
@import "layout/header";
@import "layout/virtual";
@import "layout/footer";

// 5. Components
@import "components/tooltip";
@import "components/table";
@import "components/button";
@import "components/modal";
@import "components/alert";
@import "components/back-to-top";
@import "components/session-actions";
@import "components/countdown";
@import "components/stars-ratings";

// 6. Page-specific styles
@import "pages/session";
@import "pages/program";
@import "pages/notebook";
@import "pages/inicio-webapp";
@import "pages/speakers";
@import "pages/virtual/lobby";
@import "pages/virtual/exhibitor";
@import "pages/login";
@import "pages/virtual/info";
@import "pages/add-to-homescreen";

.ico-compartir-safari {
    height: 1.5rem;
    polygon {
        fill: white;
    }
}
