$modal-fade-color: rgba(10, 10, 10, 0.6);
$modal-background-color: $color-fondo-oscuro;
$modal-padding: 2rem;
// $modal-background-color: #000000;
.modal.alert {
    .modal-background { background-color: $modal-fade-color; }
    .modal-card {
        width: auto;
        max-width: 640px;
        @media (max-width: 650px) {
            max-width: 100%;
        }
    }
    .modal-card-head {
        background-color: $modal-background-color!important;
        padding: $modal-padding;
        border-bottom: 0;
        p {
            color: white!important;
            font-size: $body-size;
            font-weight: $weight-bold;
        }
    }
    .modal-card-body {
        background: $modal-background-color!important;
        padding: 0;
        color: white;
        padding: $modal-padding;
        padding-top: 0;
    }
    .modal-card-foot {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top: 0;
        background: $modal-background-color!important;
        padding: $modal-padding;
        padding-top: 0;
        flex-wrap: wrap;
    }
    .button {
        background: $modal-background-color!important;
        border: 1px solid $color-destacados;
        color: $color-destacados;
        margin-bottom: 1rem;
        &:hover {
            background: $color-destacados!important;
            border: 1px solid $modal-background-color;
            color: $modal-background-color;
        }
    }
}
