// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
    letter-spacing: 1px;
    font-weight: $weight-bold;
    &.is-outlined {
        background: transparent;
        border: 1px solid;
        &.is-white {
            color: white;
            border-color: white;
        }
    }
}
.shareBtn {
    .ico-comparte-x {
        height: 31px;
        width: auto;
    }
}
