.modal {
    z-index: 100000;
    .modal-card-head, .modal-card-foot, .modal-card-body {
        padding: 1rem 2rem;
        > * { max-width: 100%; }
    }
    .modal-card-head {
        background-color: $grey-lighter;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .modal-card-foot {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background: white;
        border-top: 0;
    }
    &#notesModal {
        .ico-notas { height: 3rem; }
    }
    .button {
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid $color-destacados;
        color: $color-destacados;
        border: 1px solid $color-destacados;
        &:not(.is-outline) { background: transparent!important; }
        &.is-link {
            text-transform: none;
            text-decoration: underline;
            @extend %font-size-14;
            border: none;
            flex-wrap: wrap;
            white-space: normal;
            height: auto;
        }
        &:hover, &.is-hovered {
            border-color: #b5b5b5;
            color: #363636;
        }
    }
    .ico-comparte-was {
        #shape_3 { fill: #00bb2d; }
    }
    &#portfolioModal, &.linksModal , &#checkViewingModal{
        .modal-card-head {
            svg { height: 2rem; }
            background-color: $color-destacados;
            .modal-card-title { color: white; }
        }
        .modal-card-body {
            .portfolioItem {
                &:not(:last-of-type) {
                    border-bottom: 1px solid $color-gris;
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;
                }
                > * { @extend %font-size-16; }
            }
            // .ico-programa-pdf
            svg path { fill: $color-gris; }
            .svgWrapper { width: 70px; text-align: center; }
        }
    }
    &.alert {
        button {
            color: white!important;
            border-color: white!important;
        }
    }
}

#anuncioModal {
    z-index: 9999;
    .modal-card {
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
    }
    .modal-card-body {
        padding: 0;
        display: flex;
        align-items: center;
        .content {
            height: 100%;
            text-align: center;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            max-width: 100%;
            margin: 0 auto;
        }
    }
    footer {
        position:absolute;
        background: transparent!important;
        .button { padding: 1rem; margin-bottom: 0; }
    }
}

.anotherAgendaModal {
    .modal-card {
        width: 500px;
    }
    .ico-google-calendar { height: 30px; width: auto; }
    .ico-outlook { height: 30px; width: auto; }
    .ico-apple-calendar { height: 30px; width: auto; }
}
