#sessionActions {
    gap: .75rem;
    svg {
        height: 1.5rem;
        width: auto;
    }
    .ico-notas { fill: $color-clicables; }
    .ico-compartir path { fill: $color-clicables; }
    .ico-agendar path {
        &.borde, &.mas { fill: $color-clicables; }
    }
}
