// {{-- https://codepen.io/lsirivong/pen/nRNLYL --}}

$unchecked-star: '\2606';
$unchecked-color: #9b9b9b;
$checked-star: '\2605';
$checked-color: #ffCE00;

.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;

    * {
        font-size: 2rem;
    }
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;

    & > input {
        display: none;

        & + label {
            /* only enough room for the star */
            display: inline-block;
            overflow: hidden;
            text-indent: 9999px;
            width: 1em;
            white-space: nowrap;
            cursor: pointer;
            margin-right: .5rem;

            &:before {
                display: inline-block;
                text-indent: -9999px;
                content: $unchecked-star;
                color: $checked-color;
            }
        }

        & + label:hover ~ label:before,
        & + label:hover:before,
        &:checked ~ label:before {
            content: $checked-star;
            color: $checked-star;
            text-shadow: 0 0 3px $checked-color;
        }
    }
    /* the hidden clearer */
    & > .star-cb-clear + label {
        text-indent: -9999px;
        width: 0.5em;
        margin-left: -.5em;
    }

    & > .star-cb-clear + label:before {
        width: 0.5em;
    }

    &:hover > input + label:before {
        content: $unchecked-star;
        color: $checked-color;
        text-shadow: none;
    }

    &:hover > input + label:hover ~ label:before,
    &:hover > input + label:hover:before {
        content: $checked-star;
        color: $checked-color;
        text-shadow: 0 0 3px $checked-color;
    }
}

.star-cb {
    margin-top: 1rem;
}

.ratings {
    .ratings-average-number {
        + .ratings-average-stars {
            padding-left: .5rem;
        }
    }
    .ratings-average-stars {
        padding-right: .5rem;
        svg { cursor: pointer; }
    }
}
