.table {
    display: table;
    .tr { display: table-row }
    .thead { display: table-header-group }
    .tbody { display: table-row-group }
    .tfoot { display: table-footer-group }
    .col { display: table-column }
    .colgroup { display: table-column-group }
    .td, .th { display: table-cell }
    .caption { display: table-caption }

    &.is-scrollable {
        overflow: scroll;
        max-height: 500px;
        .thead .th {
            position: -webkit-sticky; /* for Safari */
            position: sticky;
            top: 0;
            &:first-child {
                left: 0;
                z-index: 1;
            }
        }
        .tbody .th {
            position: -webkit-sticky; /* for Safari */
            position: sticky;
            left: 0;
        }
    }
}
