.countdown {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    li {
        // display: inline-block;
        // font-size: 1.5em;
        list-style-type: none;
        padding: 1em;
        text-transform: uppercase;
        text-align: center;
        color: white;
        span {
            display: block;
            @include tablet {
                font-size: 1.5rem;
            }
            @include mobile {
                font-size: 14px;
            }
        }
        @include mobile {
            padding: .5em;
        }
    }
}
