// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
$bottom-background-height: 1.5rem;
$bottom-svg-height: 1.5rem;
.page-inicio-webapp:not(.page-info) #virtualBottomNavbar { display: none; }
#virtualBottomNavbar {
    zoom: 0.85;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    // bottom: calc(#{$bottom-svg-height} + 1rem);
    bottom: 0.5rem;
    z-index: 9999;
    // .navbar-item-text { display: none; }
    @include tablet { display: none; }
    svg {
        height: $bottom-svg-height;
        width: auto;
    }
    .fondo {
        position: absolute;
        background-color: #4e4943;
        width: 100%;
        height: $bottom-background-height;
    }
    .suelo {
        position: absolute;
        width: calc(100% + 64px);
        top: calc(#{$bottom-background-height} - 1px);
        left: -32px;
        border-right: 32px solid transparent;
        border-left: 32px solid transparent;
        border-bottom: calc(#{$bottom-background-height} + .25rem) solid #000000;
        // https://cybmeta.com/formas-basicas-con-css-triangulos-circulos-trapecios-rectangulos-cuadrados
    }
    // .navbar { background: none; }
    .fondo, .suelo { display: none; }
    .navbar {
        background-color: $color-congreso;
        column-gap: .5rem;
    }
    .navbar-item {
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        row-gap: .25rem;
        column-gap: .25rem;
        &:hover, &:focus {
            background-color: transparent;
            color: initial;
        }
        .navbar-item-text { text-align: center; }
    }
    @include mobile {
        width: 100%;
        bottom: 0;
        .navbar {
            justify-content: center;
        }
    }
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    &.footer {
        // background: transparent;
        //background: #222221;
        background: $color-azul;
        padding: 0;
        //padding: 0 1.5rem 0 1.5rem;
        > .content {
            height: $footer-alto;
            padding: 0 1.5rem;
        }
    }
    > div {
        > * + *:before {
            content: '|';
            margin-left: .5rem;
            margin-right: .5rem;
        }
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            // background: #ffffffb0;
        }
        @include mobile {
            > *:first-child + *:before {
                display: none;
            }
        }
        a {
            @extend %font-size-14;
            color: white;
            &:hover { color: white!important; text-decoration: underline; }
            // color: $grey-dark!important;
        }
    }
    #logoLogievents { height: .6rem; }
    @include mobile {
        // #logoLogieventsWrapper { margin-bottom: .5rem; }
        #logoLogievents { position: relative; top: 1px; }
        > div {
            flex-wrap: wrap;
            column-gap: .6rem;
            > * + * {
                &:before { display: none; }
            }
        }
    }
    @media (max-width: 350px) {
        #logoLogieventsWrapper { width: 100%; }
    }
}
body:not(.page-inicio-webapp) footer:not(.modal-card-foot) { display: none; }
