// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
%navbar-hover {
    background: white;
    color: $color-clicables;
    svg path { fill: $color-clicables; }
}
$navbar-link-color: white;

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 5px 0px rgba(102,102,102,0.4);
    background-color: $color-navbar-bg-light;
    &.is-tbdark {
        background-color: $color-plataforma;
    }
    #webTitle {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .ico-back {
        height: 1rem;
        width: auto;
        polyline { stroke: $color-clicables; }
    }
    .ico-back-link {
        display: block;
        width: 3.25rem;
        height: 3.25rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-shrink: 0;
        &:hover {
            svg polyline { stroke: $color-destacados; }
        }
        @include mobile {
            width: $navbar-icons-mobile-height;
            height: $navbar-icons-mobile-height;
        }
    }
}
.navbar {
    .logos {
        display: flex;
        align-items: flex-end;
        @include mobile {
            max-width: calc(100% - calc(calc(3.25rem + 32px ) * 2));
            align-items: center;
            .logo-header-sociedades { display: none; }
            #webTitle { margin-right: 0; }
        }
        @media (max-width: 450px) {
            flex-direction: column;
            #webTitle {
                font-size: 10px;
                margin-left: 0;
                margin-top: .5em;
            }
            svg.logo-congreso { height: 20px; width: auto; }
        }
        //svg.logo-header-sociedades { height: 2.5rem; width: auto; }
        .logo-header-sociedades { height: 2rem; width: auto; }
        svg.logo-congreso {
            height: 2rem;
            width: auto;
            align-self: center;
            @media (max-width: 768px) {
                height: 1.2rem;
            }
            @media (max-width: 360px) {
                height: auto;
                max-width: 130%;
            }
        }
    }
    &.is-fixed-top { z-index: 9998; }
    &.is-fluid { padding-left: 1.5rem; padding-right: 1.5rem; }
    &.is-tbdark {
        svg.logo-congreso,
        svg.logo-header-sociedades {
            path, rect, polygon { fill: white; }
        }
        #webTitle { color: white; }
    }
}
.navbar-menu {
    //background: $color-clicables; // TODO en la actualización: generalmente se deja esto pero para SEC24 no casaban los colores
    background: $color-azul;
    color: white;
    &:not(.is-active) {
        display: none;
    }
    &.is-active {
        position: absolute;
        right: 0;
        top: $navbar-height;
        display: block;
        border-top: 1px solid white;
    }
    .navbar-item {
        color: white;
        //border-bottom: 1px solid $grey-light;
        border-bottom: 1px solid #b5b5b585;
        // display: grid;
        // grid-template-columns: 40px auto;
        align-items: center;
        grid-column-gap: 1rem;
        svg { justify-self: center; max-width: 100%; }
        &:focus { color: white; }
        &:hover { @extend %navbar-hover; }
        @include desktop {
            padding: 1rem 3rem;
        }
    }
    &.isHiddenInNavbar {
        display: none;
    }
}
.navbar {
    .navbar-burger {
        margin-left: 0;
        flex-shrink: 0;
        margin-right: calc(-1 * calc(calc(#{$navbar-height} - 16px) / 2));
        margin-left: calc(calc(#{$navbar-height} - 16px) / 2);
        border-bottom: 2px solid transparent;
        color: $color-clicables;
        &.is-active {
            border-bottom-color: $color-clicables;
        }
        &:hover { @extend %navbar-hover; }
        @include desktop {
            display: block;
        }
        &.is-usermenu {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .ico-usuario {
        height: 23px;
        path { fill: $color-clicables; }
    }
    &.is-tbdark {
        color: $navbar-link-color;
        .ico-usuario path { fill: white; }
        .navbar-burger {
            span { color: white; }
            &:hover {
                span { color: $color-clicables; }
            }
        }
        svg.ico-back polyline { stroke: white; }
    }
}
#profile-bar {
    background: $color-plataforma;
    .content {
        color: white;
        text-align: right;
    }
}
$color-text-plataforma-navbar: $color-plataforma;
body.is-congreso-virtual, body.page-virtual {
    #virtualNavbar {
        &:not(.is-tbdark) {
            .navbar-burger {
                color: $color-text-plataforma-navbar;
                .ico-usuario path { fill: $color-text-plataforma-navbar; }
            }
            #webTitle { color: $color-text-plataforma-navbar; }
            .logo-congreso-img, .logo-header-sociedades-color {
                filter: brightness(0) invert(1);
            }
        }
    }
}
#webTitle { color: $color-text-plataforma-navbar; }
body.is-congreso-virtual {
    #virtualNavbar {
        a.logos { margin-left: auto; }
    }
}
body.page-virtual {
    .ico-back-link { display: none; }
}
