.page-virtual {
    background: $color-fondo-palacio;
    min-height: calc(100vh - #{$navbar-height});
    // img.has-map {
    //     @include desktop {
    //         max-height: calc(100vh - #{$navbar-height});
    //         width: auto;
    //     }
    // }
    // &:not(.is-exhibitor) {
        .mapAreasContainer {
            @include touch {
                display: flex;
                justify-content: center;
                overflow: hidden;
                img.has-map {
                    width: 150%;
                    height: auto;
                    max-width: none;
                    max-height: none;
                }
            }
            @media (min-width: 1024px) and (max-width: 1399px) {
                display: flex;
                justify-content: center;
                overflow: hidden;
                img.has-map {
                    width: 125%;
                    height: auto;
                    max-width: none;
                    max-height: none;
                }
            }
            @media (min-width: 1400px) {
                img.has-map {
                    max-height: calc(100vh - #{$navbar-height});
                    width: auto;
                }
            }
            // Cuando ponga el móvil en horizontal, que la imagen ocupe el 100%
            @media only screen and (hover: none) and (pointer: coarse) {
                @media (max-width: 500px) {
                    // móvil vertical
                }
                @media (min-width: 501px) {
                    // móvil horizontal
                    img.has-map {
                        width: 100%;
                        max-width: initial;
                        height: initial;
                    }
                }
            }
        }
}
.is-congreso-virtual {
    padding-bottom: 4rem;
}
