/*
A placeholder class is a special type of class that only prints when it is extended,
and can help keep your compiled CSS neat and clean.
*/

/* ----------------------------------
   Utilidades
-----------------------------------*/
%font-size-48 {
    font-size: 48px;
    @include mobile { font-size: 24px; }
    @include tablet-only { font-size: 29px; }
    @include desktop-only { font-size: 36px; }
    @include widescreen-only { font-size: 42px; }
}
%font-size-30 {
    font-size: 30px;
    @include mobile {
        font-size: 20px;
    }
}
%font-size-24 {
    font-size: 24px;
    @include tablet-only { font-size: 18px; }
    @include mobile { font-size: 16px; }
}
%font-size-18 {
    font-size: 18px;
    @include mobile {
        font-size: 14px;
    }
}
%font-size-16 {
    font-size: 16px;
    @include mobile {
        font-size: 14px;
    }
}
%font-size-14 {
    font-size: 14px;
    @include mobile {
        font-size: 11px;
    }
}
%font-size-12 {
    font-size: 12px;
    @include mobile {
        font-size: 10px;
    }
}

%link-text {
    color: $text;
    &:not(:hover) {
        text-decoration: underline;
    }
}
%link-no-format {
    color: inherit;
    text-decoration: inherit;
}
%link-decorate-hover {
    &:hover {
        text-decoration: underline;
    }
}
%is-live {
    animation: blinker 1s linear infinite;
    margin-left: .25rem;
    color: white;
    background-color: $color-congreso;
    display: inline-flex;
    align-items: baseline;
    padding: .125rem;
    font-weight: $weight-bold;
}