// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Variables propias del proyecto

$color-marron: #462315;

$color-gris: #4A4A49;
$color-azul: #00537F;
$color-azul-claro: #5f95b7;

$color-congreso: $color-azul;
$color-congreso2: $color-gris;
$weight-black: 900;
$color-plataforma: $color-azul;
$color-destacados: $color-congreso2;
$color-fondo-oscuro: #4a4a4a;
$color-fondo-palacio: #e2d7c8;
$color-titulos: $color-azul;
$color-destacados: $color-azul;
$color-clicables: $color-azul;
$color-focus: $color-azul-claro;
$color-navbar-bg-light: #ffffff;

//$color-botonera: transparentize($color-verde, 0.2);
$color-botonera: $color-azul-claro;

$highlight-gap: .25em;

$skeduler-cell-width: 182px;

$content-maxwidth: 40rem;

$footer-alto: 1.5rem;

$navbar-icons-mobile-height: 2rem;

// Variables BULMA a sobrescribir
$body-size: 18px;
$family-sans-serif: 'Open Sans', sans-serif;
$text: #545454;
$sidebar-width: 33.33%;//10.5rem;
