$box-padding: .4rem;
.sessions-scheme {
    .skeduler-headers {
        border-color: $grey-light!important;
        padding-left: 59px;
        .scroller > div {
            border-color: $grey-light!important;
            vertical-align: middle;
            font-weight: $weight-black;
            background: $grey-lighter;
            line-height: 1;
            border-left: none;
            border-right: 1px solid #B0CEE9;
        }
        &::before {
            border-color: $grey-light!important;
            border-right: 1px solid #B0CEE9;
        }
    }
    .skeduler-headers, .skeduler-main {
        // padding: .5rem .75rem;
        font-size: $size-7;
        // border: 1px solid $grey-lighter;
    }
    .skeduler-main-timeline div:nth-child(even),
    .skeduler-main-body > div > div.skeduler-cell:nth-child(odd),
    .skeduler-main-timeline div:first-child,
    .skeduler-main-body > div > div.skeduler-cell,
    .skeduler-main-timeline div {
        //height: 27px; ALTO_LINEA_SKEDULER
        height: 97px;
        padding-top: 3px;
    }
    .skeduler-main-timeline div:nth-child(even),
    .skeduler-main-body > div > div.skeduler-cell:nth-child(odd),
    .skeduler-main-timeline div:first-child,
    .skeduler-headers .scroller > div:last-child,
    .skeduler-main-body > div > div.skeduler-cell,
    .skeduler-main-timeline div {
        border-color: $grey-light!important;
        &.mediaHora {
            color: $grey-light!important;
            color: hsl(0, 0%, 60%)!important;
        }
    }
    &.skeduler-container {
        font-family: $family-sans-serif;
    }
    .skeduler-main-body {
        > div {
            > .skeduler-task-placeholder{
                > div {
                    background: transparent;
                    padding: 0;
                    width: 90%!important;
                    box-shadow: unset;
                    &:hover {
                        opacity: 0.95;
                        min-height: 180px;
                        z-index: 9981;
                    }
                }
            }
            > div.skeduler-cell {
                width: $skeduler-cell-width;
            }
        }
    }
    .session-scheme {
        height: 98%;
        display: flex;
        flex-direction: column;
        &.visited { opacity: 0.6; }
    }
    .category {
        color: white;
        padding: calc(#{$box-padding} / 2) $box-padding;
        line-height: normal;
    }
    .info {
        padding: calc(#{$box-padding} / 2) $box-padding;
        background: white;
        display: flex;
        flex-direction: column;
        flex: 1;
        > * {
            line-height: normal;
        }
        .name {
            padding-bottom: calc(#{$box-padding} / 2);
            font-weight: $weight-black;
        }
        .hour {
            color: $text;
        }
        .category-secondary {
            color: $text;
            border-top: 1px solid $grey-light;
            //margin-top: #{$box-padding} ;
            margin-top: auto;
            padding-top: calc(#{$box-padding} / 2);
        }
    }
    /* Para mantener fija la columna de las horas */
    .skeduler-main-body { margin-left: 60px; }
    .skeduler-main-timeline { position: absolute; z-index: 999; }
    .skeduler-headers {
        // padding-left: 0;
        &:before {
            content: ' ';
            width: 60px;
            height: 100%;
            position: absolute;
            background-color: white;
        }
    }
    .is-live {
        @extend %is-live;
        margin-left: 0;
        display: flex;
    }
}
/* Para que los títulos estén fijos */
.sessions-scheme.skeduler-container {
    position: relative;
    overscroll-behavior: contain;
    .skeduler-headers {
        //top: 5.8rem;    // TODO: Hacer esto bien y no a ojo. Serían los 3.25rem de la cabecera más el alto del selector de días.
        top: calc(calc(calc(3.25rem + 43.75px) + 42px) + 1.5rem);
        @include mobile {
            //top: 205px;
            top: 292px;
        }
        position: sticky;
        z-index: 9990;
        .scroller {
            display: flex;
            overflow-y: hidden;
            overflow-x: hidden;
            width: 100%;
        }
    }
    .skeduler-main {
        overflow: auto;
        scroll-snap-type: x mandatory;
    }
}
.section-sessions .content-tab { overflow: unset; }
.skeduler-main-body > div {
    // scroll-snap-align: start;
}
