$sessions-table-title-width: 40%;
$sessions-table-day-width: 170px;
$sessions-table-n-width: calc(78px + #{$thBorder});
$sessions-table-schedule-width: calc(87px + #{$thBorder});
//$sessions-table-room-width: calc(95px + #{$thBorder});
$sessions-table-room-width: auto;
.sessions-table {
    margin-bottom: 0;
    margin-bottom: 3rem;
    .th {
        &.isDay {
            @include tablet {
                width: $sessions-table-day-width;
            }
            .day {
                color: $grey-light;
            }
        }
        &.isTitle { width: $sessions-table-title-width; }
        &.isN { width: $sessions-table-n-width; }
        &.isSchedule { width: $sessions-table-schedule-width; }
        &.isRoom { width: $sessions-table-room-width; }
    }
    .tr {
        position: relative;
        &.visited {
            opacity: 0.5;
            // .sessionLink { opacity: 0.5; }
        }
    }
    .tbody {
        .td {
            &.isDay { width: $sessions-table-day-width; }
            &.isTitle {
                width: $sessions-table-title-width;
                @include mobile {
                    width: calc(100% - 70px);
                }
            }
            &.isN { width: $sessions-table-n-width; }
            &.isSchedule {
                width: $sessions-table-schedule-width;
                text-align: center;
                vertical-align: middle;
                .agendar { display: block; }
            }
            &.isRoom { width: $sessions-table-room-width; }
            &.isType {
                text-transform: uppercase;
                display: table-cell;
                @include tablet {
                    width: 15%;
                }
                // #circulitoDelante
                // display: flex;
                // align-items: baseline;
                // &:before {
                //     content: '';
                //     height: .5rem;
                //     width: .5rem;
                //     background-color: #bbb;
                //     border-radius: 50%;
                //     display: inline-block;
                //     margin-right: .5rem;
                //     flex-shrink: 0;
                // }
            }
        }
    }
    @include mobile {
        .thead { display: none!important; }
        .th {
            &.isDay {
                &:before {
                    content: ' ';
                    background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EReloj Copy 2%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Plataforma-Mobil-360x640' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Plataforma-Programa' transform='translate(-34.000000, -137.000000)' fill='%239B9B9B'%3E%3Cg id='Reloj' transform='translate(34.000000, 137.000000)'%3E%3Cpath d='M14.2569545,7.51063636 C14.2569545,11.2306364 11.2310455,14.2572273 7.51036364,14.2572273 C3.79036364,14.2572273 0.764454545,11.2306364 0.764454545,7.51063636 C0.764454545,3.79063636 3.79036364,0.764045455 7.51036364,0.764045455 C11.2310455,0.764045455 14.2569545,3.79063636 14.2569545,7.51063636 M7.51036364,-0.000272727273 C3.369,-0.000272727273 0.000136363636,3.36927273 0.000136363636,7.51063636 C0.000136363636,11.652 3.369,15.0215455 7.51036364,15.0215455 C11.6524091,15.0215455 15.0212727,11.652 15.0212727,7.51063636 C15.0212727,3.36927273 11.6524091,-0.000272727273 7.51036364,-0.000272727273' id='Fill-1'%3E%3C/path%3E%3Cpolygon id='Fill-4' points='7.12847727 7.35218182 5.07961364 9.40104545 5.62029545 9.94104545 7.69438636 7.86763636 7.89279545 7.66922727 7.89279545 1.78240909 7.12847727 1.78240909'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    display: inline-block;
                    background-size: cover;
                    width: 15px;
                    height: 15px;
                    position: relative;
                    top: 3px;
                }
            }
        }
        .tr {
            display: flex;
            flex-direction: column;
            padding: .25rem 0;
            &:not(.is-hidden-tablet) {
                > *:not(.isSchedule) {
                    width: calc(100% - 72px);
                }
            }
            &.is-hidden-tablet {    // fila compactada en el móvil
                .schedule {
                    flex: 0 0 40px;
                    text-align: center;
                }
                .info {
                    flex: 1 1 0%;
                    .td.is-flex {
                        > * + * {
                            margin-left: .25rem;
                        }
                    }
                }
                .day {
                    color: $grey-light;
                }
            }
        }
        .td {
            &.isRoom {
                &:before {
                    content: ' ';
                    background-image: url("data:image/svg+xml,%3Csvg width='12px' height='17px' viewBox='0 0 12 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Eubicacion copy%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Plataforma-Mobil-360x640' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Plataforma-Programa' transform='translate(-35.000000, -314.000000)' fill='%239B9B9B'%3E%3Cg id='ubicacion' transform='translate(35.000000, 314.000000)'%3E%3Cpath d='M5.856,0.758545455 C3.03317647,0.758545455 0.736235294,3.224 0.736235294,6.25381818 C0.736235294,9.33672727 3.04729412,12.4472727 5.21294118,15.1207273 C5.22282353,15.1323636 5.50023529,15.4647273 5.83976471,15.4647273 L5.87223529,15.4647273 C6.21670588,15.4647273 6.49482353,15.1258182 6.49764706,15.1221818 C8.66470588,12.4487273 10.9764706,9.34036364 10.9764706,6.25381818 C10.9764706,3.224 8.67952941,0.758545455 5.856,0.758545455 M5.87223529,16.2232727 L5.83976471,16.2232727 C5.18894118,16.2232727 4.73364706,15.7112727 4.64964706,15.6087273 C2.39929412,12.8312727 0,9.59127273 0,6.25381818 C0,2.80509091 2.62729412,0 5.856,0 C9.08541176,0 11.7127059,2.80509091 11.7127059,6.25381818 C11.7127059,9.59418182 9.31270588,12.8327273 7.06447059,15.6065455 C7.01788235,15.6654545 6.55905882,16.2232727 5.87223529,16.2232727' id='Fill-1'%3E%3C/path%3E%3Cpath d='M5.85670588,2.87505455 C4.21058824,2.87505455 2.87152941,4.25396364 2.87152941,5.94996364 C2.87152941,7.64523636 4.21058824,9.02487273 5.85670588,9.02487273 C7.50211765,9.02487273 8.84117647,7.64523636 8.84117647,5.94996364 C8.84117647,4.25396364 7.50211765,2.87505455 5.85670588,2.87505455 M5.85670588,9.78341818 C3.80470588,9.78341818 2.136,8.06341818 2.136,5.94996364 C2.136,3.83578182 3.80470588,2.11650909 5.85670588,2.11650909 C7.908,2.11650909 9.57741176,3.83578182 9.57741176,5.94996364 C9.57741176,8.06341818 7.908,9.78341818 5.85670588,9.78341818' id='Fill-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    display: inline-block;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 16px;
                    height: 16px;
                    position: relative;
                    top: 3px;
                }
            }
            &:not(.isSchedule) {
                padding-top: 0;
            }
            &.isSchedule {
                position: absolute; right: 0;
                text-align: right!important;
                .agendar, .agendada {
                    // padding-right: .75rem;
                    padding-right: .6rem;
                }
                // .ico-agendar, .ico-agendada { height: 1.5rem; }
            }
            &.isN { display: none; }
        }
    }
    .ico-agendar {
        height: 2rem;
        width: auto;
        .borde, .mas { fill: $color-clicables; }
    }
    .ico-agendada {
        height: 2rem;
        width: auto;
        path {
            fill: $color-clicables;
        }
    }
    .ico-notas.is-selected {
        height: 1.5rem;
        width: auto;
    }
    .ico-notas-selected {
        fill: $color-clicables;
    }
    .ico-agenda-conflicto {
        height: 2rem;
        width: auto;
    }
    .is-live {
        @extend %is-live;
        margin-left: 0;
        @include mobile {
            position: absolute;
            bottom: .75rem;
            right: 1rem;
        }
    }
}
