$action-bar-font-size: .8rem;
$action-bar-padding: .75rem;
$action-bar-padding-mobile: 0.5rem;
// $action-bar-height: 4rem;
$action-bar-height: 2.5rem;
#action-bar {
    display: flex;
    border-top: 1px solid $grey-lighter;
    border-bottom: 1px solid $grey-lighter;
    height: $action-bar-height;
    align-items: center;
    // > * {
    //     margin-top: $action-bar-padding;
    //     margin-bottom: $action-bar-padding;
    //     @include mobile {
    //         margin-top: $action-bar-padding-mobile;
    //         margin-bottom: $action-bar-padding-mobile;
    //     }
    // }
    form#programSearch {
        display: flex;
        flex: 1;
        .select {
            margin-right: 1rem;
            max-width: 300px;
            flex: 1;
            font-size: $action-bar-font-size;
            select { width: 100%; }
            &:after {
                height: .5em; margin-top: -.5em; width: .5em;
            }
        }
        .search {
            margin-right: 1rem;
            flex: 1;
            input {
                font-size: $action-bar-font-size;
            }
            .icon.is-right {
                height: 100%;
                svg { width: $action-bar-font-size; height: $action-bar-font-size; }
                cursor: pointer;
                pointer-events: initial;
            }
        }
        #clear-filter {
            font-size: $action-bar-font-size;
            white-space: normal;
        }
    }
    .links-list {
        flex-wrap: nowrap;
        height: 100%;
        li + li {
            margin-left: .5rem;
            border-left: 0;
        }
        li {
            padding: 0 $action-bar-padding;
            border: 1px solid $grey-lighter;
            border-top: 0;
            border-bottom: 0;
        }
        .li-agenda {
            padding: 0 1.25rem;
        }
        #link-scheme, #link-list, #link-agenda, #link-notas {
            svg {
                height: 1.5rem; width: auto;
                @media (max-width: 400px) {
                    // height: 1.25rem;
                    height: 1rem;
                }
            }
        }
        .ico-modo-lista {
            rect { fill: $color-gris; }
        }
        .ico-notas {
            rect, path { fill: white; }
        }
        .ico-notas, .ico-agenda { zoom: 1.1; }
    }
    #viewSwitcher {
        li.is-selected {
            border-bottom: 1px solid white;
            margin-bottom: -1px;
            padding-bottom: 1px;
        }
    }
    #userActions {
        .ico-notas { position: relative; right: -5px; }
    }
    .dropdown {
        position: static;
        display: inline-block;
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: $grey-light;
            min-width: 160px;
            // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }
        span {
            display: flex;
            height: 100%;
            align-items: center;
        }
        &.is-selected {
            .dropdown-content {
                display: block;
                width: calc(100% - 2rem);
                > * {
                    max-width: none!important;
                    width: 100%;
                    margin-bottom: .5rem;
                }
                #searchTextField .icon { display: flex; }
            }
        }
    }
    #dropdownFilter {
        padding-right: .5rem;
        svg { height: 100%; }
    }
}
