$thBorder: 3px;
.sessions-table {
    border-collapse: collapse;
    color: $text;
    width: 100%;
    line-height: normal;
    .tr {
        border: 1px solid $grey-lighter;
        + .tr {
            border-top-color: transparent;
            &.is-hidden-tablet {
                &:nth-child(2) { border-top-color: $grey-lighter; }
            }
        }
    }
    .th, .td {
        padding: .5rem .5rem;
        font-size: $size-7;
    }
    .thead {
        .th {
            vertical-align: middle;
            background: $grey-lightest;
            padding: .25rem .5rem;
            + .th {
                border-left: $thBorder solid white;
            }
        }
    }
    a:not(:hover) { color: $text; }
}
#day-tabs-section {
    position: sticky;
    top: 3.25rem;
    z-index: 9990;
    background: white;
}
#day-tabs {
    margin-bottom: 0;
    padding-top: .5rem;
    ul {
        border-bottom-width: 0;
    }
    li { border: 0; }
    li.is-active {
        border-bottom: .25rem solid $color-destacados;
        a {
            border: 0;
            color: $text;
        }
    }
    li:not(.is-active) a {
        color: $grey-light;
        &:hover {
            background: none;
            color: $text;
            border: 1px solid transparent;
        }
    }
}
#actionBar {
    position: sticky;
    top: calc(3.25rem + 43.75px);  // top(#day-tabs-section) + alto (#day-tabs-section)
    background: white;
    z-index: 9990;
}
.section-sessions {
    .content-tab { overflow: scroll; }
    padding-top: 1.5rem;
    padding-bottom: 0;
    #link-scheme, #link-list {
        &.is-selected { font-weight: $weight-bold; }
    }
    .organization {
        font-weight: $weight-normal;
        font-style: italic;
    }
    @include mobile {
        padding-top: 0.5rem;
        .sessions-scheme {
            zoom: 0.5;
            .category, .hour { font-size: 125%; -webkit-text-size-adjust: none; }
            .name {
                line-height: 1.3rem;
                -webkit-text-size-adjust: auto;
                font-size: 150%;
                &.is-iphone {
                    line-height: .6rem;
                    -webkit-text-size-adjust: auto;
                    font-size: 175%;
                }
            }
            .skeduler-headers .scroller > div {
                font-size: 95%!important;
                height: auto;
                padding-bottom: 10px;
            }
        }
    }
}
@import "_sessions-scheme";
@import "_sessions-table";
