$changeStandArrowColor: $color-congreso;
body.is-exhibitor {
    .modal.alert {
        .modal-card-foot {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
    #prevStandLink {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        svg {
            height: 2rem;
            width: auto;
            polyline {
                stroke: $changeStandArrowColor;
            }
        }
    }
    #nextStandLink {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        transform-origin: center;
        svg {
            height: 2rem;
            width: auto;
            polyline {
                stroke: $changeStandArrowColor;
            }
        }
    }
    #backToExhibitionButton {
        position: absolute;
        left: 0.5rem;
        top: 4rem;
        svg {
            width: 2rem;
            height: auto;
        }
    }
}
