.page-virtual.is-info, .page-info {
    h1, h2, h3, h4 { color: $color-titulos; }
    .content > * {
        max-width: $content-maxwidth;
    }
}
.page-info {
    &.isVisor {
        .content iframe.visor {
            width: 100%;
            max-width: 100%;
            height: calc(100vh - 6.25rem);
        }
        // background: grey;
    }
    .footer { display: none; }
    padding-bottom: 2rem; /* para que el menú inferior no se superponga a los botones */
}

/*
Dejó de usarse al poner info como si fuera la página de inicio
.page-info #menuInfo {
    display: flex;
    row-gap: 1rem;
    column-gap: 1rem;
    flex-wrap: wrap;
    max-width: 100%;
    .navbar-item {
        background-color: $color-plataforma;
        color: white;
        font-weight: $weight-bold;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-size: 15px;
        padding: 1rem;
        justify-content: center;
        text-align: center;
        &:hover {
            .navbar-item-text { text-decoration: underline; }
        }
        &.hideOnStart { display: none; }
        @media (max-width: 375px) {
            padding: .5rem;
        }
        @include mobile {
            letter-spacing: -0.5px;
            font-size: 12px;
        }
        @include tablet {
            padding: 1rem 2rem;
            .icon {
                width: 2rem;
                margin-right: 1rem;
            }
        }
    }
    + iframe {
        margin-top: 1rem;
    }
}
*/